@import '../../styles/colors';

.vertical-tabs {
  --tab-width: 5rem;
  --bg-color: #{color(panel-highlight-bg)};
  --border-color: #{color(panel-highlight-border)};
  --selected-border-color: #{color(type-main)};
  --ribbon-width: .5rem;
  --border-width: 1px;
  --toggler-width: 2.5rem;
  @media (min-resolution: 2dppx) {
    --border-width: .5px;
  }
  display: grid;
  grid-template-columns: var(--tab-width) auto;

  &[data-tabs-expanded="false"] {
    grid-template-columns: auto;
    > ul[role="tablist"] {
      display: none;
    }
    > div[role="tabpanel"] {
      border-left-width: var(--border-width);
    }
    > div.toggle-tabs {
      left: calc(0px - var(--toggler-width) / 2);
    }
  }

  @media only print {
    grid-template-columns: auto;
    > ul[role="tablist"] {
      display: none;
    }
    > div[role="tabpanel"] {
      border: none;
    }
    > div.toggle-tabs {
      display: none;
    }
  }

  @media only screen and (max-width: 900px) {
    &[data-tabs-expanded="true"] {
      grid-template-columns: auto;
      > ul[role="tablist"] {
        > li[role="tab"][aria-selected="true"]{
          margin-right: 0;
          &::before {
            border-right-width: 0;
          }
        }
        > li[role="tab"][aria-selected="false"]{
          border-bottom: var(--border-width) solid var(--selected-border-color);
          border-left: var(--border-width) solid var(--selected-border-color);
        }
      }
      > div[role="tabpanel"] {
        display: none;
      }
      > div.toggle-tabs {
        left:unset;
        right: calc(0px - var(--toggler-width) / 2);
      }
    }
  }

  > ul[role="tablist"] {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-right: var(--border-width) solid var(--selected-border-color);
    > li[role="tab"] {
      display: block;
      position: relative;
      padding: 1rem .5rem 1rem 1rem;
      cursor: pointer;
      overflow: hidden;
      margin-top: 0;
      margin-bottom: 0;
      &::before {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      &[aria-selected="true"] {
        background-color: white;
        margin-right: calc(0px - var(--border-width));
        &::before {
          border-width: var(--border-width) 0 var(--border-width) var(--ribbon-width);
          border-style: solid;
          border-color: var(--selected-border-color) transparent var(--selected-border-color) var(--selected-border-color);
        }
        & + li[aria-selected="false"]::before {
          border-top: none;
        }
      }
      &[aria-selected="false"] {
        margin-left: var(--ribbon-width);
        background-color: var(--bg-color);
        transition: filter 250ms ease-in-out;
        &:not(:first-child)::before {
          border-top: var(--border-width) solid var(--border-color);
        }
        &:hover {
          filter: brightness(92%);
        }
        border-bottom-color: var(--border-color);
      }
    }
  }

  > div.toggle-tabs {
    position: absolute;
    left: calc(var(--tab-width) - var(--toggler-width) / 2);
    top: 0;
    bottom: 0;
    > button {
      position: sticky;
      top: 38.8vh;
      background-color: white;
      border: none;
      margin: min(5vw, 225%) 0 min(5vw, 225%);
      padding: 0;
      color: var(--selected-border-color);
      font-size: var(--toggler-width);
      width: var(--toggler-width);
      height: var(--toggler-width);
      line-height: var(--toggler-width);
      border-radius: var(--toggler-width);
      border: var(--border-width) solid var(--selected-border-color);
      z-index: 10;
      > svg {
        display: block;
        cursor: pointer;
      }
    }
  }

  > div[role="tabpanel"] {
    padding: 1rem;
    position: relative;
    overflow: hidden;
    border-width: var(--border-width) var(--border-width) var(--border-width) 0;
    border-style: solid;
    border-color: var(--selected-border-color);
    &:not(:global(.react-tabs__tab-panel--selected)) {
      display: none;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: white;
      z-index: -1000;
    }
  }
}
