@import "../../styles/dropdown";
@import "../../styles/functions";

.mut-annot-viewer {
  .preset-selection {
    @extend %large-dropdown;
    :global(.Dropdown-root) {
      max-width: 32rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .viewer {
    display: grid;
    grid-template-columns: 24rem 1fr 24rem;
    grid-template-rows: max-content;
    > .controller-container {
      grid-column: 1;
    }
    > .seqviewer {
      grid-column: 2;
    }
    > .legend-container {
      grid-column: 3;
    }
  }
}
