@import "../../styles/default-colors";
@import "../../styles/dropdown";
@import "../../styles/functions";

.mut-annot-viewer {
  @include default-color();
  .preset-selection {
    @extend %large-dropdown;
    :global(.Dropdown-root) {
      max-width: 32rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .viewer {
    display: grid;
    grid-template-columns: 20rem auto 24rem;
    grid-template-rows: auto;
    > .seqviewer {
      grid-row-start: 1;
    }
    > .controller-container {
      grid-row-start: 1;
      > .controller {
        z-index: 1;
        position: sticky;
        top: 2rem;
      }
    }
    > .legend-container {
      grid-row-start: 1;
      > .legend {
        z-index: 1;
        position: sticky;
        top: 2rem;
      }
    }
    > .footer-container {
      grid-row-start: 2;
      grid-column-start: 1;
      grid-column-end: 4;
      position: sticky;
      z-index: 2;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
