@import '../../styles/select';
.tooltip {
  display: none;
  position: fixed;
  z-index: 10;
  pointer-events: none;
  background-color: rgba(0,0,0,.6);
  color: lightgrey;
  padding: .5rem;
}


ul.camera-controll {
  list-style-type: none;
  padding-left: 0;
  > li {
    display: inline-block;
    margin: 0 .5rem;

    > label {
      display: block;
    }
  }

}

.view-select {
  @include select('view-select');
  vertical-align: middle;
  display: inline-block;
  margin-right: 1rem;
}
