.toc-container {
  float: right;
  nav.toc {
    border: 0.8rem solid rgba(0,0,0,.05);
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    min-width: 18rem;
    width: 32rem;
    font-size: 1.1rem;
    line-height: 2;
    position: relative;
    z-index: 1;
  
    ul {
      padding-left: 1.5rem;
      list-style-type: "▸  ";
      list-style-position: outside;
    }
    ul ul {
      list-style-type: "▹  ";
    }
    ul, li {
      margin-top: 0;
      margin-bottom: 0;
    }
  
  }
  @media only screen and (min-width: 901px) and (max-width: 1024px) {
    nav.toc {
      width: 28rem;
    }
  }
  @media only screen and (max-width: 900px) {
    float: none;
    nav.toc {
      margin-left: auto;
      margin-right: auto;
      width: var(--mobile-main-content-width);
    }
  }
  @media print {
    display: none;
  }
}
