@import "../../styles";

$radio-size: 1.28em;
$radio-on-border-width: 0.36em;
$radio-off-border-width: 1px;

.general-radio-input {
  &:not(:last-child) {
    margin-right: 2em;
  }
  label {
    display: inline-grid;
    grid-template-columns: $radio-size 1fr;
    grid-column-gap: .4em;
    align-items: center;
    margin-top: .5em;
    margin-bottom: .5em;
    cursor: pointer;

    &::before, &::after {
      grid-column: 1;
      grid-row: 1;
      box-sizing: border-box;
      content: "\a0";  // use &nbsp; to enable line-height
      display: inline-block;
      width: $radio-size;
      border-radius: 100%;
      height: $radio-size;
    }

    &::before {
      padding: calc($radio-on-border-width - $radio-off-border-width);
      background-color: color(radio-off-bg);
      border: $radio-off-border-width solid color(radio-off-border);
    }

    &::after {
      border: 0 solid color(radio-on-border);
      transition: border-width 0.15s ease;
    }

    &[data-disabled="true"] {
      cursor: not-allowed;
      &::before {
        background-color: color(radio-off-bg-disabled);
      }
    }
  }

  input {
    display: none;
    &:checked + label::after {
      border-width: $radio-on-border-width;
    }
  }
}


