@import "../../styles";
@import "../../styles/tabs";
@import "../../styles/dropdown";
@import "../../styles/functions";


.analyze-form-tabs {
  --tab-height: 1.4rem;
  --tab-v-padding: 0.42rem;
  --tab-h-padding: 0.84rem;
  display: flex;
  align-items: stretch;
  @extend %react-tabs-container;
  margin-top: 1rem;
  @media only screen and (max-width: 900px) {
    flex-direction: column;
  }

  :global {
    .react-tabs {
      display: flex;
      flex-direction: column;
      flex-grow: 3;
      &__tab {
        box-sizing: content-box;
        height: var(--tab-height);
        line-height: var(--tab-height);
        padding: var(--tab-v-padding) var(--tab-h-padding);
      }
      &__tab--selected {
        background-color: color(panel-bg);
      }
      &__tab-panel--selected {
        background-color: color(panel-bg);
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }
      & + :local(.analyze-ngs2codfreq) {
        &:global(__form), &:global(__results-container) {
          margin-top: calc(var(--tab-height) + 2 * var(--tab-v-padding));
        }
      }
    }
  }

  .analyze-ngs2codfreq {
    &:global(__form), &:global(__results-container) {
      display: flex;
      flex-basis: css-max(32%, 32rem);
      flex-direction: column;
      margin-left: 1rem;
      &:first-child {
        flex-basis: css-max(60%, 60rem);
        margin-left: 0;
        margin-right: css-min(10%, 4rem);
      }
      @media only screen and (max-width: 900px) {
        margin-left: 0;
        &:first-child {
          margin-right: 0;
        }
      }
    }
    &:global(__input) {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
    }
  }
}


label.input-label {
  @include inline-input-label(8rem);
}

.input-group {
  margin-bottom: 1rem;

  .header-input {
    @extend %inline-input;
    box-sizing: border-box;
    width: 100%;
    max-width: 30rem;
  }

  .header-input-notation {
    @extend %inline-input-notation;
  }

  &.sequence-input {
    @extend %textarea;
    flex-grow: 1;
    resize: vertical;
    width: 100%;
  }

}

fieldset.output-options {
  @extend %fieldset;
  > legend {
    @extend %legend;
  }
  > .children {
    margin-top: .3rem;
    > span[class*="general-checkbox-input"] {
      margin-top: .7rem;
      display: inline-block;
    }
  }
}

.loading-modal {
  @extend %fixed-modal;
  &.hidden {
    display: none;
  }
  > div.inner {
    @extend %fixed-modal-inner;
  }
  .progress-bar > div {
    background-color: color(progress-bar) !important;
  }
}

.analyze-base-form {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  .analyze-base-form-buttons {
    margin-top: 1rem;
  }

  .analyze-base-form-submit-options {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    > span {
      display: block;
      margin-left: 1rem;
      float: right;
      > label {
        margin-right: 0;
      }
    }
    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }

  .analyze-base-form-buttons {
    &::after {
      content: "";
      display: block;
      clear: both;
    }

    > button {
      margin-left: 1rem;
      float: right;
    }
  }

}

.file-options {
  font-size: 0.8rem;
  display: inline-block;
}

ul.file-options {
  padding-left: 1rem;
  margin: 0;
  vertical-align: top;
  li {
    margin: 0.2rem 0;
  }
}

ul.sequence-reads-preview {
  flex-grow: 1;
  &:empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  background-color: color(input-bg);
  border: 1px solid color(dividing-line);
  min-height: 7.8rem;
  max-height: 23.4rem;
  overflow: auto;
  margin: 0 2px 1rem;
  padding-left: 0;
  position: relative;
  &:before {
    content: attr(data-placeholder);
    width: 100%;
    display: none;
    text-align: center;
    line-height: 1.15em;
    font-weight: 700;
    font-size: 3rem;
    color: color(seqreads-preview-placeholder-text);
  }
  &:empty::before {
    display: block;
  }
  &[data-drag-active="true"]::before {
    display: block;
    color: color(seqreads-preview-placeholder-hover-text);
  }
  > li {
    margin: 1rem 0.5rem;
    display: inline-block;
    position: relative;
    list-style-type: none;
    text-align: center;
    > svg.fileIcon {
      font-size: 4rem;
      color: color(seqreads-preview-file-icon);
    }
    > svg.remove {
      position: absolute;
      top: 0;
      right: 0.5rem;
      font-size: 1rem;
      color: color(seqreads-preview-remove-file);
      cursor: pointer;
    }
    span.file-name {
      display: inline-block;
      box-sizing: border-box;
      margin-top: 0.2rem;
      padding: 0.1rem 0.3rem 0;
      border: 1px solid transparent;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
    &:hover {
      z-index: 200;
      > span.file-name {
        background-color: color(seqreads-preview-file-hover-bg);
        border: 1px solid color(seqreads-preview-file-hover-text);
        width: auto;
      }
    }
    width: 6.5rem;
    white-space: nowrap;
  }
}

.dropzone {
  position: relative;
}

.loading-mask {
  padding: 1rem 2rem;
  font-size: 3rem;
  background-color: rgba(0,0,0,.05);
  margin: 0 2px 1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &:not([data-loading]) {
    display: none;
  }
}
