@import "~flexbox-grid-mixins";
@import "../../styles";
@import "../../styles/tabs";
@import "../../styles/dropdown";

.analyze-form-container {
  .analyze-form-tabs {
    width: 100%;
  }
}

.analyze-form-tabs {
  @extend %react-tabs-container;
  background-color: $panel-bg;
}


label.input-label {
  @include inline-input-label(8rem);
}

.input-group {
  margin-bottom: 1rem;

  .header-input {
    @extend %inline-input;
    box-sizing: border-box;
    width: 100%;
    max-width: 30rem;
  }

  .header-input-notation {
    @extend %inline-input-notation;
  }

  &.sequence-input {
    @extend %textarea;
    resize: vertical;
    width: 100%;
  }

}

fieldset.output-options {
  @extend %fieldset;
  > legend {
    @extend %legend;
  }
  > .children {
    margin-top: 1rem;
  }
}

.loading-modal {
  @extend %fixed-modal;
  &.hidden {
    display: none;
  }
  > div.inner {
    @extend %fixed-modal-inner;
  }
  .progress-bar > div {
    background-color: $progress-bar !important;
  }
}

.analyze-base-form {
  .analyze-base-form-buttons {
    margin-top: 1rem;
  }

  .analyze-base-form-submit-options {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    > span {
      display: block;
      margin-left: 1rem;
      float: right;
      > label {
        margin-right: 0;
      }
    }
    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }

  .analyze-base-form-buttons {
    &::after {
      content: "";
      display: block;
      clear: both;
    }

    > button {
      margin-left: 1rem;
      float: right;
    }
  }

}

.file-options {
  font-size: 0.8rem;
  display: inline-block;
}

ul.file-options {
  padding-left: 1rem;
  margin: 0;
  vertical-align: top;
  li {
    margin: 0.2rem 0;
  }
}

ul.sequence-reads-preview {
  background-color: $input-bg;
  border: 1px solid $dividing-line;
  min-height: 7.8rem;
  max-height: 23.4rem;
  overflow: auto;
  margin-left: 0;
  padding-left: 0;
  position: relative;
  &:before {
    content: attr(data-placeholder);
    position: absolute;
    width: 100%;
    display: none;
    text-align: center;
    font-weight: 700;
    margin-top: 2rem;
    font-size: 3rem;
    color: $mercury;
  }
  &:empty::before {
    display: block;
  }
  &[data-drag-active="true"]::before {
    display: block;
    color: $silver;
  }
  > li {
    margin: 1rem 0.5rem;
    display: inline-block;
    position: relative;
    list-style-type: none;
    text-align: center;
    > svg.fileIcon {
      font-size: 4rem;
      color: $shakespeare;
    }
    > svg.remove {
      position: absolute;
      top: 0;
      right: 0.5rem;
      font-size: 1rem;
      color: $redberry;
      cursor: pointer;
    }
    span.file-name {
      display: inline-block;
      box-sizing: border-box;
      margin-top: 0.2rem;
      padding: 0.1rem 0.3rem 0;
      border: 1px solid transparent;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
    &:hover {
      z-index: 200;
      > span.file-name {
        background-color: $pampas;
        border: 1px solid $softamber;
        width: auto;
      }
    }
    width: 6.5rem;
    white-space: nowrap;
  }
}
