@import "../../styles/colors";

.mutation-comments-container {
  border: 1px solid color(dividing-line);
  box-sizing: border-box;
  background-color: color(panel-bg);
  margin: 1.5rem -1rem 0;
  padding: 1rem;
  
  > .mutation-comments-options {
    margin-top: 1.5rem;
  }

  > ul.mutation-comments {
    margin: 0;
    padding-left: 1.2rem;
    .triggered-mutations {
      font-weight: 600;
      .mut-sep {
        &:first-of-type {
          display: none;
        }
        padding: 0 .25rem;
      }
    }
  }

  @media print {
    border-color: transparent;
    background-color: transparent;
    margin: .5rem -1rem 0;
    padding: 0 1rem;

    > .mutation-comments-options {
      display: none;
    }

    a[class*="ref-link"] {
      display: none;
    }

    > ul.mutation-comments > li {
      page-break-inside: avoid;
      p {
        margin: 0.3rem 0 1rem;
      }
    }
  }
}
