//@import "compass";

// Internal colors
// Use the name: $http://chir.ag/projects/name-that-color/

$thunder:     #1c1b1c;
$scorpion:    #605f60;
$dustygray:   #969696;
$silver:      #bbbbbb;
$mercury:     #e3e3e3;
$wildsand:    #f4f4f4;
$tutu:        #fffeff;
$blue:        #1b8ecc;
$jungleGreen: #24b298;

$shadow:      #7c6b50;
$teak:        #AEA266;
$buddhagold:  #cba800;
$supernova:   #f5cc00;
$softamber:   #d4cfb4;
$tana:        #dcd8c1;
$satinLinen:  #ebe8db;
$cararra:     #F0F0E8;
$pampas:      #F1F0E9;

$cardinal:    #d32424;
$redberry:    #8c1515;
$thunderbird: #c81e1e;
$alizarinCrimson: #d52020;
$cinnabar:    #e13333;
$mandy:       #e55252;

$shakespeare: #5ac0cc;
$picton-blue: #45d3e3;

$persian-red: #ca402b;
$we-peep:     #f7ddd9;


// Internal colors end

$body-bg:   $tutu;
$body-text: $thunder;

$page-not-found-icon: $redberry;

$modal-bg: rgba($tutu, 0.5);
$modal-dialog-bg: $tutu;
$modal-close: $dustygray;
$modal-close-hover: $thunder;
$progress-bar: $supernova;

$slider-dot: $scorpion;
$slider-dot-active: $redberry;
$slider-arrow: $scorpion;
$slider-arrow-bg: $tutu;
$slider-caption-color: $redberry;
$slider-caption-desc-color: $thunder;

$intro-title: $thunder;
$intro-alter-title: $scorpion;

$btn-text-on-light-bg: $thunder;
$btn-text-on-dark-bg: $tutu;

$btn-default-bg: $dustygray;
$btn-default-hover-bg: $silver;

$btn-light-bg: $mercury;
$btn-light-text: $redberry;
$btn-light-hover-bg: rgba($mercury, 0.6);

$btn-info-bg: $shakespeare;
$btn-info-hover-bg: $picton-blue;

$btn-primary-bg: $redberry;
$btn-primary-hover-bg: $cardinal;
$btn-primary-flare-bg: rgba($tutu, 0.1);

$btn-flare-bg: rgba($tutu, 0.2);

$radio-off-bg: $tutu;
$radio-off-bg-disabled: $mercury;
$radio-off-border: $silver;
$radio-on-border: $redberry;

$chkbox-off-bg: $tutu;
$chkbox-border: $silver;
$chkbox-on: $redberry;
$chkbox-disabled: $dustygray;

$dropdown-bg: $tutu;
$dropdown-border: $silver;
$dropdown-arrow-bg: $redberry;
$dropdown-arrow-active-bg: $cardinal;
$dropdown-arrow: $tutu;
$dropdown-menu-bg: $wildsand;
$dropdown-menu: $wildsand;
$dropdown-opt-hover-bg: $redberry;
$dropdown-opt-hover: $tutu;
$dropdown-opt-selected: $tutu;
$dropdown-opt-selected-bg: $cardinal;

$btn-info: $blue;
$trivia: $dustygray;
$dividing-line-dark: $thunder;
$dividing-line: $dustygray;
$dividing-line-light: $silver;
$banner: $redberry;
$banner-text: $tutu;
$banner-link: $tutu;
$banner-link-hover: $mercury;
$navbar-bg: $cararra;
$navbar-text: $redberry;
$navbar-border: $softamber;
$navbar-text-hover: $redberry;

$footer-bg: $pampas;
$footer-border: $softamber;

$qa-chart-dR: $blue;
$qa-chart-other: $thunder;
$qa-chart-problem: $cinnabar;

$super-strong-text: $cinnabar;
$super-strong-text2: $thunderbird;

$sidebar-bg: $pampas;
$tiny-sidebar-bg: $tana;
$sidebar-title: $scorpion;
$sidebar-text: $redberry;
$sidebar-text-hover: $tutu;
$sidebar-text-hover-bg: $teak;
$sidebar-text-current: $tutu;
$sidebar-text-current-bg: $redberry;
$side-banner-mask-bg: rgba($thunder, 0.7);
$side-banner-mask-text: $tutu;

$hr: $softamber;

$tab-bar-bg: $tutu;
$form-title-bar-bg: $pampas;
$form-title-bar-border: $buddhagold;
$form-title-bar: $thunder;
$form-title-bar-alter-bg: $redberry;
$form-title-bar-alter-border: $redberry;
$form-title-bar-alter: $tutu;
$form-bg: $mercury; // TODO: $change this to panel-bg
$panel-bg: $mercury;
$panel-blank-bg: $tutu;
$panel-highlight-border: $softamber;
$panel-highlight-bg: $cararra;
$panel-highlight-bg2: $we-peep;

$input-bg: $tutu;
$invalid-input-outline: $mandy;
$input-placeholder: $scorpion;
$mutation-bg: $tutu;
$mutation-border: $dustygray;
$mutation-remove: $dustygray;
$mutation-remove-hover: $alizarinCrimson;
$mutation-del: $cinnabar;
$mutation-ins: $jungleGreen;

$link-text: $shadow;
$link-hover-text: $redberry;

$deleted-text: $dustygray;
$changed-text: $alizarinCrimson;

$home-section-title: $redberry;
$home-section-hr: $redberry;
$home-subsection-title: $redberry;

$dropzone-active-bg: $mercury;

$table-head-row-bg: $satinLinen;

$table-head-row-hover-bg: $tana;
$table-row-odd-bg: $tutu;
$table-row-even-bg: $pampas;
$table-row-hover-bg: rgba($supernova, 0.7);
$table-row-hl-bg: $supernova;

$warning-text: $persian-red;
$validation-critical-bg: $thunder;
$validation-critical-text: $tutu;
$validation-severe-warning-bg: transparent;
$validation-severe-warning-text: $persian-red;
$validation-warning-bg: transparent;
$validation-warning-text: $persian-red;
$validation-note-bg: transparent;
$validation-note-text: $thunder;
$validation-placeholder-bg: transparent;
$validation-placeholder-text: $dustygray;

$selected-alg-bg: $tutu;
$selected-alg-border: $dustygray;
$selected-alg-remove: $dustygray;
$selected-alg-remove-hover: $alizarinCrimson;
