$global-font-size: 14px;
$print-font-size: 9.5px;
$base-font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
$full-container-width: 130rem;
$full-container-gutter: 1.5rem;
