@mixin strict-flex-width($min-width: 0) {
  // http://stackoverflow.com/a/26535469
  min-width: $min-width;
}

@mixin inline-input-label($width) {
  padding-right: 1rem;
  display: inline-block;
  width: $width;
}

@mixin responsive($min-width: null, $max-width: null) {
  @if $min-width != null and $max-width != null {
    @media only screen and (min-width: $min-width) and (max-width: $max-width) {
      @content;
    }
  }
  @else if $min-width != null {
    @media only screen and (min-width: $min-width) {
      @content;
    }
  }
  @else if $max-width != null {
    @media only screen and (max-width: $max-width) {
      @content;
    }
  }
  @else {
    @content;
  }
}

@mixin desc-list($title-width, $small-width: 640px, $overflow: hidden) {
  dl {
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
    overflow: $overflow;
  }

  dt {
    clear: left;
    float: left;
    width: $title-width;
    font-weight: 500;
    padding: 0;
    margin: 0;
  }

  dd {
    padding: 0;
    margin: 0 0 0 $title-width;
  }

  @include responsive($max-width: $small-width) {
    dt { float: none; }
    dd {
      margin-left: 2rem;
      margin-bottom: .5rem;
    }
  }
}
