@import "./colors";

@mixin select($class-name-prefix) {
  :global .#{$class-name-prefix}__control {
    background-color: color(dropdown-bg);
    border-radius: 0;
    border-color: color(dropdown-border);
    overflow: visible;
    min-height: auto;
  }

  :global .#{$class-name-prefix}__indicator {
    padding: 4px;
    cursor: pointer;
  }

  :global .#{$class-name-prefix}__menu {
    border-radius: 0;
    background-color: color(dropdown-menu-bg);
    z-index: 100;
  }

  :global .#{$class-name-prefix}__option {
    $line-height: 1.5em;
    $vertical-spacing: .2em;
    $line-clamp: 2;
    padding-top: $vertical-spacing;
    padding-bottom: $vertical-spacing;
    line-height: $line-height;
    max-height: $line-height * $line-clamp + $vertical-spacing * 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line-clamp;
  }

  :global .#{$class-name-prefix}__option--is-selected {
    background-color: color(dropdown-opt-selected-bg);
    color: color(dropdown-opt-selected);
  }

  :global .#{$class-name-prefix}__option--is-focused {
    background-color: color(dropdown-opt-hover-bg);
    color: color(dropdown-opt-hover);
  }
}
