@import "./colors";

%react-tabs-container {
  :global {
    @import "~react-tabs/style/react-tabs.scss";
    .react-tabs [role=tablist] {
      border-bottom: 1px solid color(dividing-line);
      background-color: color(tab-bar-bg);
      margin: 0;
    }
    .react-tabs [role=tab] {
      position: relative;
      font-weight: 500;
      &:focus::after {
        display: none;
      }
    }
    .react-tabs [role=tab][aria-selected=true] {
      border-color: color(dividing-line);
      background-color: color(panel-bg);
    }
    .react-tabs [role=tabpanel] {
      padding: 1rem;
      border-left: 1px solid color(dividing-line);
      border-right: 1px solid color(dividing-line);
      border-bottom: 1px solid color(dividing-line);
    }
    .react-tabs [role=tab] > a {
      color: color(body-text);
      text-decoration: none;
    }
    .react-tabs [role=tab] > a::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
