@import "~normalize-scss";
@import "./colors";
@import "./constants";

@include normalize();

html {
  font-weight: 400;
  color: color(body-text);
  background-color: color(body-bg);
  font-size: $global-font-size;
  scroll-behavior: smooth;
  --mobile-main-content-width: #{$mobile-main-content-width};
  --mobile-main-content-max-width: #{$mobile-main-content-max-width};
}

body {
  overflow-x: hidden; // disallow horizontal scrolling
  font-weight: 400;
  font-size: $global-font-size;
}

input:required:invalid {
  outline-color: color(invalid-input-outline);
}

::-webkit-input-placeholder {
  color: color(input-placeholder);
}

::-ms-input-placeholder {
  color: color(input-placeholder);
}

::-moz-placeholder {
  color: color(input-placeholder);
}

:-moz-placeholder {
  color: color(input-placeholder);
}

@media print {
  @page {
    size: letter;
    margin: 0.385in;
  }

  html, body {
    font-weight: 400;
    font-size: $print-font-size;
    color: black;
  }
}
