@import '../../../styles/colors';

header.report-header {
  color: color(seq-title);
  padding: 1rem 0;
  position: relative;
  display: flex;
  align-items: flex-end;
  > h1 {
    white-space: nowrap;
    font-size: 2rem;
    padding-right: 1rem;
    font-weight: 700;
    margin: 0;
  }
  > p.desc {
    margin: 0;
    line-height: 2rem;
    font-size: 1.1rem;
    font-weight: 300;
    display: inline;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &::before {
    position: absolute;
    content: "";
    display: block;
    left: calc(50% - 50vw);
    right: calc(50% - 50vw);
    top: 0;
    bottom: 0;
    background-color: color(seq-title-bg);
    z-index: -1;
  }

  @media print {
    -webkit-print-color-adjust: exact;
    color: color(seq-title-bg);
    padding-left: 1rem;
    &::before {
      left: 0%;
      right: 0%;
      background-color: rgba(222, 222, 222, .6);
    }
  }
}
