@import "../../../../styles";
@import "../../../../styles/dropdown";

.input-group {
  @extend %general-dropdown;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  $dropdown-height: 26px;
  $button-spacing: 0.5rem;

  &.scrollable {
    overflow-y: auto;
    max-height: 35rem;
  }

  ul {
    padding-left: 1.5rem;
    &.scrollable {
      overflow: auto;
      max-height: 20rem;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: color(link-text);
    &:hover {
      color: color(link-text);
      text-decoration: underline;
    }
  }

  li > span.us-annot-name {
    padding-bottom: 0.2rem;
    margin-bottom: 0.3rem;
    display: inline-block;
    border-bottom-style: solid;
    border-bottom-width: 0.2rem;
  }

  h3 {
    font-weight: 600;
    display: block;
    margin: .5rem 0;
    font-size: 1.1rem;
    line-height: 1.5;
    a {
      font-weight: 400;
      font-size: 1rem;
    }
  }
  > :global(.Dropdown-root) {
    display: inline-block;
    vertical-align: middle;
    width: calc(calc(100% - #{2 * $dropdown-height}) - #{2 * $button-spacing});
  }
  > button.edit-annotation {
    box-sizing: border-box;
    height: $dropdown-height;
    width: $dropdown-height;
    margin-left: $button-spacing;
    padding-left: 0;
    padding-right: 0;
    .btn-icon {
      position: relative;
      top: 2px;
    }
  }
  .dialog {
    border: 1px solid color(mut-annot-editor-dialog-border);
    border-radius: .4rem;
    padding: 1rem;
    text-align: justify;
    &:not(:first-child) {
      margin-top: 1rem;
    }
    > p {
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
      &:first-child {
        margin-top: 0;
      }
    }
    > .warning {
      color: color(warning-text);
    }
  }
  .inline-buttons {
    display: block;
    text-align: left;
    margin-top: .5rem;
    margin-bottom: .5rem;
    > button {
      padding-left: 1rem;
      padding-right: 1rem;
      &[class*="btn-style-link"] {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
      }
    }
    > button:not(:last-child) {
      margin-right: $button-spacing;
    }
    .btn-icon {
      position: relative;
      top: 3px;
      margin-right: .3rem;
    }
  }
  
  .citation-checkbox {
    display: block;
    margin-bottom: .5rem;
    > [class*="general-checkbox-input"] > label {
      margin-right: .4rem;
    }
    > .citation-section {
      text-indent: calc(18px + 0.4rem);
      display: block;
      color: rgba(0, 0, 0, .35);
      font-size: 0.8rem;
    }
  }

  input.text-input {
    display: block;
    @extend %inline-input;
    margin: 1rem 0;
    width: 100%;
    font-size: 1rem;
    box-sizing: border-box;
  }

  textarea.textarea {
    display:block;
    @extend %textarea;
    width: 100%;
    font-family: monospace;
    resize: vertical;
    min-height: 10em;
  }

  .labeled-input {
    $label-width: 4rem;
    > label {
      display: inline-block;
      width: $label-width;
      &::after {
        content: ":";
      }
    }
    > input.text-input {
      display: inline-block;
      width: calc(100% - #{$label-width});
      &.with-refresh-btn {
        width: calc(calc(calc(100% - #{$label-width}) - #{$dropdown-height}) - #{$button-spacing});
      }
    }
    > .input-note {
      display: block;
      position: absolute;
      margin-top: -0.9rem;
      margin-left: $label-width + 0.5rem;
      color: rgba(0, 0, 0, .3);
      font-size: .9rem;
    }
    > button.refresh {
      box-sizing: border-box;
      height: $dropdown-height;
      width: $dropdown-height;
      margin-left: $button-spacing;
      padding-left: 0;
      padding-right: 0;
      .btn-icon {
        position: relative;
        top: 2px;
      }
    }
  }
  .scrollable-citation-list {
    max-height: 19rem;
    overflow-y: auto;
  }

  .amino-acids {
    $size: 2.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    > .amino-acid {
      user-select: none;
      text-align: center;
      cursor: pointer;
      margin: $size / 8;
      display: inline-block;
      font-size: $size / 2;
      font-weight: 600;
      color: color(seqviewer-amino-acid-text);
      line-height: $size;
      height: $size;
      width: $size;
      border-radius: 50%;
      &:hover, &:focus {
        background-color: color(seqviewer-amino-acid-hover-bg);
      }
      &[data-selected="true"] {
        background-color: color(seqviewer-amino-acid-active-bg);
      }
    }
  }
}

.annot-view-item {
  display: flex;
  align-items: flex-start;

  .annot-view-legend {
    width: 1.2rem;
    min-width: 1.2rem;
    height: 1.2rem;
    font-weight: 700;
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.2rem;
    border-width: 2px;
    border-style: solid;
    margin-right: 0.5rem;
    margin-bottom: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    > div {
      line-height: 1em;
      height: 70%;
      width: 70%;
    }

    &.annot-view-legend_circle {
      border-color: #777;
      background-color: #bbb;
      position: relative;
      > .circle {
        border-radius: 50%;
        background-color: #fff;
      }
    }
  }

  .annot-view-text {
  }

  .annot-view-value {
    font-size: 1.2rem;
    font-weight: 700;
    display: inline-block;
    & + .annot-view-desc {
      margin-left: .2rem;
    }
  }

  .annot-view-positions {
    font-size: .9rem;
    margin-left: .2rem;
    display: inline-block;
  }

  .annot-view-desc {
    color: rgba(0, 0, 0, .5);
    display: inline-block;
    font-size: .9rem;
  }
  .annot-view-positions + .annot-view-desc::before {
    content: ": ";
    color: rgb(0, 0, 0);
  }

  &:not(:last-child) {
    margin-bottom: .35rem;
  }

}

.annot-view-pos-detail {
  margin-top: 1rem;
  > h4 {
    font-weight: 600;
    margin-bottom: .3rem;
  }
  > ul {
    margin-top: 0;
  }
  .annot-view-desc {
    color: rgba(0, 0, 0, .5);
    font-size: .9rem;
  }
}
