@import "../../../styles/colors";

.report-paginator-container {
  position: sticky !important;
  top: 0px;
  padding: 1em 0;
  z-index: 1000;
  &::before {
    content: '';
    background-color: white;
    position: absolute;
    left: calc(50% - 50vw);
    right: calc(50% - 50vw);
    top: 0;
    bottom: 0;
    transition: background-color 200ms ease-in-out;
    z-index: -2;
  }
  font-size: .8rem;
  &::before {
    background-color: white;
  }
  transition: opacity 150ms ease-in-out;
  &[data-fixed="true"] {
    opacity: 1;
    &::before {
      background-color: color(paginator-opt-bg);
    }
    &:hover {
      opacity: .95;
    }
  }
  @media print {
    display: none;
  }
}
