@import "../../../styles/colors";
@import "../../../styles/select";
@import "../../paginator/variables";

.report-paginator-container {
  position: sticky !important;
  top: 0px;
  padding: 1em 0;
  z-index: 1000;
  &::before {
    content: '';
    background-color: white;
    position: absolute;
    left: calc(50% - 50vw);
    right: calc(50% - 50vw);
    top: 0;
    bottom: 0;
    transition: background-color 200ms ease-in-out;
    z-index: -2;
  }
  font-size: .8rem;
  &::before {
    background-color: white;
  }
  transition: opacity 150ms ease-in-out;
  &[data-fixed="true"] {
    opacity: 1;
    &::before {
      background-color: color(paginator-opt-bg);
    }
    &:hover {
      opacity: .95;
    }
  }
  @media print {
    display: none;
  }

  .report-paginator-extras {
    @extend %paginator-variables;
    float: left;
    .navbar-button {
      margin-top: $item-size * 0.4;
      border-radius: 0;
      border: none;
      font-size: 1.2em;
      line-height: 1.2em;
      font-weight: 600;
      background-color: var(--color-dark);
      color: var(--color-light);
      height: $item-size * 1.2;
      padding: 0 0.5 * $item-size;
      min-width: 2 * $item-size;
      cursor: pointer;
      transition: background-color 200ms ease-in-out;
      &:hover {
        background-color: var(--color-dark-hover);
      }
    }
  }

  .dropdown-container {
    float: right;
    position: relative;
    max-width: 38.8%;
    @media only screen and (max-width: 1000px) {
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    .report-paginator-select {
      width: 30rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      background-color: white;
      display: inline-block;
      font-size: 1.2rem;
      @include select('report-paginator-select');
      :global .report-paginator-select__control {
        border-color: color(type-main);
      }
      :global .report-paginator-select__value-container {
        padding-top: .4rem;
        padding-bottom: .4rem;
      }
    }
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}
