@import "../../../styles/colors";
@import "../../paginator/variables";

.report-paginator-container {
  position: sticky !important;
  top: 0px;
  padding: 1em 0;
  z-index: 1000;
  &::before {
    content: '';
    background-color: white;
    position: absolute;
    left: calc(50% - 50vw);
    right: calc(50% - 50vw);
    top: 0;
    bottom: 0;
    transition: background-color 200ms ease-in-out;
    z-index: -2;
  }
  font-size: .8rem;
  &::before {
    background-color: white;
  }
  transition: opacity 150ms ease-in-out;
  &[data-fixed="true"] {
    opacity: 1;
    &::before {
      background-color: color(paginator-opt-bg);
    }
    &:hover {
      opacity: .95;
    }
  }
  @media print {
    display: none;
  }

  .report-paginator-extras {
    @extend %paginator-variables;
    float: left;
    .navbar-button {
      margin-top: $item-size * 0.4;
      border-radius: 0;
      border: none;
      font-size: 1.2em;
      line-height: 1.2em;
      font-weight: 600;
      background-color: var(--color-dark);
      color: var(--color-light);
      height: $item-size * 1.2;
      padding: 0 0.5 * $item-size;
      min-width: 2 * $item-size;
      cursor: pointer;
      transition: background-color 200ms ease-in-out;
      &:hover {
        background-color: var(--color-dark-hover);
      }
    }
  }

  :global .ui.search.dropdown {
    float: right;
    margin-right: 2rem;
    background-color: white;
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}
