.sierra-genome-map-tabs {
  --tab-width: 10rem !important;
  li[role="tab"][data-hide="true"] {
    display: none !important;
  }
  div[role="tabpanel"][data-hide="true"] {
    display: none !important;
  }
}

.genome-map-expanded {
  display: grid;
  &[data-hide="true"] {
    display: none;
  }
}

.genome-map-view-checkbox {
  @media print {
    display: none;
  }
}

.sierra-genome-map {
  > [class*="svg-container"] {
    padding-top: 1rem;
  }
}
