.editor-menu {

  button {
    .btn-icon {
      position: relative;
      top: 3px;
      margin-right: .3rem;
    }
  }

  > ul.editor-menu-items {
    padding-left: 0;
    list-style-type: none;
    > li {
      display: inline-block;
      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }
}
