@import "../../styles";

.progress-bar-container {
  margin-top: 1.5rem;
  &[data-loaded="true"] {
    display: none;
  }
  > :global(.progressbar-container) {
    margin-top: .5rem;
  }
}

.progress-bar > div {
  background-color: color(progress-bar) !important;
}
