@import "../../../styles";
@import "../../link/extension";

form.ngs-options-form {
  fieldset {
    border: 1px solid color(dividing-line);
    padding: 1rem 1.5rem;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

}

.reset {
  font-size: .9rem;
  margin-top: .25rem;
  .reset-link {
    @extend %link;
  }
}


.fieldinput-number-range {
  display: grid;
  grid-template-columns: 1fr 3rem;
  align-items: center;

  > input[type="range"] {
    font-size: 1.5rem;
    width: 100%;
    padding-right: 0.5em;
    box-sizing: border-box;
    -webkit-appearance: none;
  
    @mixin thumb() {
      border: 0;
      border-radius: 0.5em;
      height: 1em;
      width: 1em;
      margin-top: -0.25em;
      background-color: color(type-main);
      transition: background-color 150ms ease-in-out;
      cursor: pointer;
    }

    @mixin thumb-hover() {
      background-color: color(type-main-lighter);
    }

    @mixin thumb-disabled() {
      cursor: not-allowed;
      background-color: rgba(0, 0, 0, .4);
    }
  
    @mixin track() {
      width: 100%;
      height: 0.5em;
      cursor: pointer;
      background-color: color(type-highlight);
      border: 0;
      transition: filter 150ms ease-in-out;
    }

    @mixin track-hover() {
      filter: brightness(1.1);
    }

    @mixin track-disabled() {
      cursor: not-allowed;
      background-color: rgba(0, 0, 0, .2);
    }
  
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      @include thumb();
    }
  
    &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      @include track();
    }
  
    &::-moz-range-thumb {
      @include thumb();
    }

    &::-moz-range-track {
      @include track();
    }
  
    &::-ms-thumb {
      @include thumb();
    }

    &::-ms-track {
      @include track();
    }

    &:hover {
      &::-webkit-slider-thumb {
        @include thumb-hover();
      }
  
      &::-webkit-slider-runnable-track {
        @include track-hover();
      }
  
      &::-moz-range-thumb {
        @include thumb-hover();
      }

      /* &::-moz-range-track {
        @include track-hover();
      } */
  
      &::-ms-thumb {
        @include thumb-hover();
      }

      &::-ms-track {
        @include track-hover()
      }
    }

    &:disabled {
      &::-webkit-slider-thumb {
        @include thumb-disabled();
      }
  
      &::-webkit-slider-runnable-track {
        @include track-disabled();
      }
  
      &::-moz-range-thumb {
        @include thumb-disabled();
      }

      &::-moz-range-track {
        @include track-disabled();
      }
  
      &::-ms-thumb {
        @include thumb-disabled();
      }

      &::-ms-track {
        @include track-disabled()
      }
    }
  }

  > input[type="number"] {
    @extend %inline-input;
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
  }
}

.sequence-textarea {
  @extend %textarea;
  display: block;
  width: 100%;
  height: 4em;
  resize: none;
  margin-top: .5rem;
}

.fieldrow > .fieldlabel.primer-sequence-label {
  display: grid;
  grid-row: auto;
  grid-template-columns: 1fr 1fr;
  column-gap: .5rem;

  > *:first-child {
    grid-column: 1 / span 2;
  }

  input.name-input {
    @extend %inline-input;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: .5rem;
  }
}

.fieldrow > .fieldinput.primer-sequence-input {
  align-self: stretch;
  display: grid;
  grid-template-columns: 1fr 6rem;

  > .sequence-textarea {
    margin-top: 0;
    height: 100%;
    width: calc(100% - .5rem);
    grid-row: auto / span 3;
  }

  .switch-radio {
    font-size: .8rem;
    align-self: center;
    > label {
      margin-right: 0;
    }
  }

}

.fieldrow > .fieldinput.primer-sequence-buttons {
  text-align: right;
  > button:not(:last-child) {
    margin-right: .5rem;
  }
}

.fieldrow > .fielddesc.primer-sequence-options {

  .primer-sequence-option-label {
    margin-right: .5rem;
  }
  
  .primer-sequence-radio-option {
    > label {
      margin-right: .5rem;
    }
  }
}

ul.fielderrors {
  padding-left: 1.5rem;
  color: color(type-error);
}

.fieldrow {
  display: grid;
  grid-template-columns: minmax(8vw, 8rem) 1fr;
  grid-template-rows: max-content 1fr;
  align-items: start;

  &:not(:last-child) {
    padding-bottom: .5rem;
    border-bottom: 2px solid rgba(0, 0, 0, .15);
    margin-bottom: .5rem;
  }

  > .fieldlabel {
    display: block;
    margin-top: .5rem;
    padding-right: 1rem;
    grid-column: 1;
    grid-row: auto / span 2;
  }

  > .fieldinput {
    margin-top: .5rem;
    grid-column: 2;
    grid-row: auto;
    .switch-radio > label {
      margin-top: 0;
      margin-bottom: 0;
    }

    &.fieldinput-number-range {
      margin-top: .25rem;
    }
  }

  > .fielddesc {
    margin-top: .25rem;
    font-size: .85rem;
    grid-column: 2;
    grid-row: auto;
  }

}
