@import "../../../styles/colors";

ul.mutation-list {
  padding-left: 1.5rem;
  line-height: 1.8em;
  column-gap: 3rem;
  @media screen and (min-width: 1000px) {
    column-count: 2;
  }
  > li.gene-item {
    display: flex;
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid;           /* Firefox */
    break-inside: avoid;                /* IE 10+ */
    &:not(:first-of-type) {
      margin-top: .5rem;
    }
    > .gene-name {
      display: block;
      font-weight: 600;
      font-size: 1.1rem;
      min-width: 4rem;
      &::after {
        content: ":";
        padding-right: .2rem;
        font-weight: normal;
      }
    }
    > ul.gene-mutation-list {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
      list-style-type: none;
      display: block;
      > li.mutation-item {
        position: relative;
        display: inline-flex;
        > .comma {
          display: inline-block;
          position: relative;
          width: .9rem;
          &::before {
            content: '·';
            text-indent: 0;
            font-weight: 800;
            width: .9rem;
            text-align: center;
            position: absolute;
            left: 0;
          }
          text-indent: 100%;
          overflow: hidden;
        }
        &:last-of-type > .comma {
          display: none;
        }

        /*&:first-of-type[data-unsequenced="true"],
        &[data-unsequenced="false"] +
        li.mutation-item[data-unsequenced="true"] {
          > .unseq::after {
            content: 'unsequenced';
            font-weight: 500;
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            bottom: -.6rem;
            line-height: 1em;
            font-size: .6rem;
          }
        }*/
        > .unseq {
          position: relative;
          color: #707070;
          text-decoration: line-through;
          font-weight: 200;
          padding-left: .2rem;
          padding-right: .2rem;
        }
        > .annotations {
          display: inline-flex;
          flex-direction: column;
          justify-content: space-between;
          padding-left: .2rem;
          margin-right: -.2rem;
        }

        ul.aa-percent-list {
          margin-top: .4rem;
          margin-bottom: 0;
          list-style-type: none;
          display: inline-block;
          > li.aa-percent-item {
            display: inline-block;
            &:not(:first-of-type)::before {
              content: ',';
              padding-right: .15rem;
            }
          }
          &[data-hide-aa="true"] .amino-acid {
            display: none;
          }
        }

        .total-reads {
          margin-bottom: .2rem;
        }

        ul.aa-percent-list,
        .total-reads {
          color: #202020;
          font-size: .6rem;
          font-weight: 200;
          line-height: 1em;
          padding-left: 0;
          @media print {
            color: black;
          }
        }
      }
    }
  }
  @media print {
    column-count: 2;
    > li.gene-item {
      page-break-inside: avoid;
      &:not(:first-of-type) {
        margin-top: .1rem;
      }
    }
  }
}

.mutation-popup {
  &:global(-content) {
    user-select: none;
    font-size: .9rem;
    margin: auto;
    background: rgb(255, 255, 255);
    padding: .8rem 1rem;
    border-radius: .4rem;
    &[role="tooltip"] {
      min-width: 10rem;
      max-width: 40vw;
      @media only screen and (max-width: 1200px) {
        max-width: 50vw;
      }
      @media only screen and (max-width: 900px) {
        max-width: 60vw;
      }
      border: 1px solid gray;
    }
    a {
      color: color(link-text);
      &:hover {
        color: color(link-hover-text);
        text-decoration: underline;
      }
      &:focus {
        outline: none;
      }
    }
  }
  &:global(-arrow) {
    stroke-width: 2px;
    stroke: gray;
    stroke-dasharray: 30px;
    stroke-dashoffset: -54px;
  }
  &:global(-overlay) {
    background: rgba(0, 0, 0, 0.5);
    &[data-popup='tooltip'] {
      background: transparent;
    }
  }
}
