@import "../../styles/default-colors";
@import "../../styles/dropdown";

.mut-annot-editor {
  @include default-color();
  .preset-selection {
    @extend %large-dropdown;
    :global(.Dropdown-root) {
      max-width: 32rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .editor {
    display: grid;
    grid-template-columns: auto 24rem;
    grid-template-rows: 6rem auto;
    > .menu {
      grid-column-start: 1;
      grid-column-end: span 2;
    }
    > .seqviewer {
      grid-row-start: 2;
    }
    > .controller-container {
      grid-row-start: 2;
      > .controller {
        z-index: 1;
        max-height: 95vh;
        height: 95vh;
        overflow-y: auto;
        position: sticky;
        top: 2rem;
      }
      pre {
        opacity: 0.4;
      }
    }
  }
}
