@import "../../styles/dropdown";
@import "../../styles/functions";

.genome-viewer {
  
  .preset-selection {
    @extend %base-dropdown;
  }
  .main-preset-selection {
    @extend %large-dropdown;
    :global(.Dropdown-root) {
      max-width: 32rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .button-group {
    display: flex;
    justify-content: flex-end;
  }

  .preset-selection:not(.main-preset-selection) {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;

    :global .Dropdown-control {
      padding: 4px 36px 4px 6px;
      font-size: .7rem;
    }
    :global .Dropdown-option {
      padding: 6px;
      font-size: .7rem;
    }
    :global .Dropdown-arrow {
      width: 20px;
    }
  }

  .viewer-container .svg-container {
    overflow-x: auto;
  }

  .footnote {
    margin-top: 1rem;
  }
}  
