@import "../../styles/default-colors";
@import "../../styles/dropdown";
@import "../../styles/functions";

.preset-selection {
  @extend %large-dropdown;
  :global(.Dropdown-root) {
    max-width: 32rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.viewer-container {
  overflow-x: auto;
}
.footnote {
  margin-top: 1rem;
}
