@import "../../../../styles/colors";
@import "../../../../styles/functions";
.footer {
  position: relative;
  $color: color(dividing-line-light);
  $color-hover: color(dividing-line-dark);
  $max-height: 90vh;

  border-top: 0.3rem solid $color;
  transition: border-color 450ms ease-in-out, max-height 450ms ease-in-out;
  background-color: white;
  padding: 1rem 0;
  min-height: 5rem;
  &[data-expanded="false"] {
    max-height: 5rem;
    &::after {
      content: '';
      z-index: 1;
      display: block;
      position: absolute;
      height: 4rem;
      width: 100vw;
      left: calc(50% - 50vw);
      bottom: 0;
      background-color: white;
      background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 90%);
    }
    > .scrollable {
      max-height: 5rem;
      overflow: hidden;
    }
  }
  &[data-expanded="true"] {
    max-height: $max-height;
    height: max-content;
    border-color: $color-hover;
    > button.toggle-button {
      color: $color-hover;
      border-color: $color-hover;
    }
    &::before {
      content: '';
      z-index: -1;
      display: block;
      position: absolute;
      height: 100vh;
      width: 100vw;
      left: calc(50% - 50vw);
      bottom: 0;
      background-color: rgba(0, 0, 0, .3);
    }
  }
  > .scrollable {
    position: relative;
    padding: 0 20rem;
    transition: margin-bottom 450ms ease-in-out;
    overflow: auto;
    max-height: $max-height;
    height: max-content;
    > :last-child {
      margin-bottom: 2rem;
    }

    h2[class*="heading-tag"] {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
    > section:first-of-type > h2[class*="heading-tag"] {
      margin-top: 1rem;
    }
  }

  > button.toggle-button {
    $height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: white;
    position: absolute;
    top: - $height / 2;
    right: 6rem;
    height: $height;
    font-size: 1.5rem;
    color: $color;
    border: 0.3rem solid $color;
    border-radius: $height / 2;
    cursor: pointer;
    transition: color 250ms ease-in-out, border-color 250ms ease-in-out;
    &:not(:disabled) {
      &:hover {
        color: $color-hover;
        border-color: $color-hover;
      }
      &:focus {
        outline: none;
        color: $color-hover;
      }
    }
    &:disabled {
      cursor: not-allowed;
    }
    > svg {
      vertical-align: top;
      padding-right: 0.25rem;
    }
  }
}
