@import "../../styles";

.sidebar-sticky-container {
  position: sticky;
  float: left;
  top: 2rem;
  margin-top: 2rem;
  z-index: 500;
}

.sidebar-fixed-container {
  position: fixed;
  margin-top: 2rem;
  z-index: 500;
}

.sidebar-container {
  $sidebar-width: 15rem;
  $min-sidebar-width: 5rem;
  $sidebar-dividing-line-gutter: 0.5rem;
  $gutter: 1rem;

  $cutoff0: rem2px(2 * $sidebar-width + $full-container-width);
  $cutoff0minus1px: $cutoff0 - 1px;
  $cutoff1: rem2px(2 * $min-sidebar-width + 2 * $gutter + $full-container-width);
  $cutoff1minus1px: $cutoff1 - 1px;
  $cutoff2: rem2px($full-container-width);
  $cutoff2minus1px: $cutoff2 - 1px;

  position: absolute;
  z-index: 500;

  @include responsive($min-width: $cutoff1) {
    width: $sidebar-width;
    margin-left: - $sidebar-width - $gutter;
    transition: width .2s;

    nav.sidebar-general {
      .sidebar-title {
        width: $sidebar-width - $sidebar-dividing-line-gutter * 2;
      }
      ul {
        width: $sidebar-width;
      }
    }
  }

  @include responsive($min-width: $cutoff1, $max-width: $cutoff0minus1px) {
    margin-left: calc((#{$full-container-width - $gutter * 2} - 100vw) / 2);
    &:not(:hover) {
      width: calc((100vw - #{$full-container-width}) / 2);
      nav.sidebar-general {
        .sidebar-title {
          width: calc((100vw - #{$full-container-width + $sidebar-dividing-line-gutter * 4}) / 2);
        }
        ul {
          width: calc((100vw - #{$full-container-width}) / 2);
        }
      }
    }
  }

  @include responsive($max-width: $cutoff1minus1px) {
    &:not(:hover) {
      margin-left: - $full-container-gutter - $sidebar-width + $sidebar-dividing-line-gutter;

      // reverse colors
      nav.sidebar-general {
        background-color: color(tiny-sidebar-bg);
      }
    }

    nav.sidebar-general {
      transition: background-color .4s;
      .sidebar-title {
        width: $sidebar-width - $sidebar-dividing-line-gutter * 2;
      }
      ul {
        width: $sidebar-width;
      }
    }

    transition: margin-left .4s;
  }

  @include responsive($min-width: $cutoff2, $max-width: $cutoff1minus1px) {
    margin-left: calc((#{$full-container-width - 2 * $full-container-gutter} - 100vw) / 2);
  }

  @include responsive($max-width: $cutoff2minus1px) {
    margin-left: - $full-container-gutter;
  }

  nav.sidebar-general {
  
    background-color: color(sidebar-bg);
    background-clip: content-box;
    width: 100%;
    max-height: 70rem;
    overflow: hidden;
  
    .sidebar-title {
      padding: 1.2rem .5rem;
      margin-left: $sidebar-dividing-line-gutter;
      margin-right: $sidebar-dividing-line-gutter;
      box-sizing: border-box;
      font-size: 1.1rem;
      font-weight: 700;
      text-transform: uppercase;
      border-bottom: 2px solid color(dividing-line-dark);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  
    ul {
      position: relative;
      overflow-y: auto;
      max-height: 50rem;
      margin: 1rem 0;
      padding: 0;
      list-style-type: none;
  
      > li > a {
        width: 100%;
        box-sizing: border-box;
        line-height: 2;
        display: block;
        padding: 0 1rem;
        text-decoration: none;
        overflow: hidden;
        color: color(sidebar-text);
  
        &:hover {
          color: color(sidebar-text-hover);
          background-color: color(sidebar-text-hover-bg);
        }
  
        &.current, &.current:hover {
          color: color(sidebar-text-current);
          background-color: color(sidebar-text-current-bg);
        }
  
        > span {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: block;
        }
      }
    }
  
    @media print {
      display: none;
    }
  }
}
