@import "../../styles";

.intro {
  header {
    position: relative;
    border-bottom: 3px solid $dividing-line-light;
    overflow: hidden;
    margin-bottom: 1rem;
    &> h1 {
      color: $intro-title;
      font-weight: 700;
      margin-bottom: .1rem;
      font-size: 2rem;
    }

    &> p {
      color: $intro-alter-title;
      font-weight: 500;
      margin-top: .1rem;
      margin-bottom: .3rem;
    }
  }

  .supplement {
    font-size: .8rem;
    line-height: 1.5rem;
    position: absolute;
    right: 0;
    bottom: .24rem;
    color: $trivia;
    & > div {
      text-align: right;
    }
  }

  p {
    line-height: 1.5;
  }
}

