@import "../../../components/link/extension";
@import "~flexbox-grid-mixins";
@import "../../../styles";

.analyze-form-desc a {
  @extend %link;
}

.algorithm-options {
  @extend %fieldset-highlight;

  > legend {
    @extend %legend-highlight;
  }

  span.selected-alg {
    font-family: monospace;
    display: inline-block;
    background-color: color(selected-alg-bg);
    border: 1px solid color(selected-alg-border);
    border-radius: 4px;
    padding: .2rem .4rem;
    margin: .2rem 1rem .2rem 0;
    white-space: nowrap;
  
    > a.remove-btn {
      cursor: pointer;
      user-select: none;
      color: color(selected-alg-remove);
      font-weight: 700;
      text-decoration: none;
      display: inline-block;
      margin-left: .25rem;
      &:hover {
        color: color(selected-alg-remove-hover);
      }
    }
  }

}

fieldset p.first-para {
  @extend %first-para;
}

span.with-trailing-space {
  margin-right: 1rem;
}

.drug-display-options {
  @extend %fieldset-highlight;

  > legend {
    @extend %legend-highlight;
  }

  $vertical-margin: .5rem;
  $label-font-size: .9rem;

  .label-drug-class {
    width: 3rem;
    line-height: 18px;
    font-size: $label-font-size;
    margin-top: $vertical-margin;
    margin-bottom: $vertical-margin;
  }

  .drug-display-option-checkbox label {
    font-size: $label-font-size;
    margin-top: $vertical-margin;
    margin-bottom: $vertical-margin;
    margin-right: 0;
    width: 4.2rem;
    &:before {
      margin-right: .2rem;
    }
  }

  .all-options {
    @include grid($flex-wrap: wrap, $gutter: 14px);

    > div {
      @include grid-col($col: 1, $grid-columns: 2, $gutter: 14px, $condense: true);
      display: flex;
      // smallCellWidth="1" mediumCellWidth="1" cellWidth="1/2"
    }
  }



}
