@import "../../styles/colors";
@import "../../styles/constants";
@import "../../styles/functions";
@import "../../styles/extension";


$cell-padding: .1rem;

.susc-summary {
  @media print {
    page-break-inside: avoid;
  }
}

.cell-variants {
  padding: $cell-padding 0;
  .variants {
    font-size: .8rem;
    color: #808080;
    &::before {
      content: '(';
    }
    &::after {
      content: ')';
    }
  }
}

.cell-fold {
  padding: $cell-padding 0;
  -webkit-print-color-adjust: exact;
  &[data-level="2"] {
    background-color: #fff352;
    .iqr, .range {
      color: rgba(87, 87, 87, 0.8);
    }
  }
  &[data-level="3"] {
    background-color: color(name-cardinal);
    color: white;
    .iqr, .range {
      color: rgba(255, 255, 255, 0.8);
    }
  }
  .iqr {
    font-size: .8rem;
    color: #808080;
    &::before {
      content: 'IQR: '
    };
  }
  .range {
    font-size: .8rem;
    color: #808080;
    &::before {
      content: 'Range: '
    };
  }
}

ol.cell-references {
  max-width: 20rem;
  padding: $cell-padding 0;
  margin: 0;
  text-align: left;
  list-style-type: none;
  > li {
    display: inline-block;
    &:not(:last-of-type)::after {
      content: ',';
      padding-right: .2rem;
    }
  }
}

.level-label {
  white-space: nowrap;
  border: 1px solid black;
  padding: .25rem;
  @extend %levels-style;
}

button.toggle-display {
  width: 100%;
  font-family: "Arial Narrow", $base-font-family;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  border-right: none;
  border-bottom: none;
  border-left: none;
  color: #777;
  text-shadow: 1px 1px #fff;
  background-color: #f9fafb;
  line-height: 2em;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
  &::before {
    content: '—\a0\a0\a0';
  }
  &::after {
    content: '\a0\a0\a0—';
  }
  &:hover {
    background-color: #f3f3f3;
  }
  @media print {
    display: none;
  }
}

.mab-popup-trigger {
  text-decoration: underline;
  text-decoration-style: dotted;
  @media print {
    text-decoration: none;
  }
}

.mab-popup {
  &:global(-content) {
    margin: auto;
    background: rgb(255, 255, 255);
    padding: 0 1rem;
    border-radius: .4rem;
    &[role="tooltip"] {
      min-width: 10rem;
      max-width: 40vw;
      @media only screen and (max-width: 1200px) {
        max-width: 50vw;
      }
      @media only screen and (max-width: 900px) {
        max-width: 60vw;
      }
      border: 1px solid gray;
    }
  }
  &:global(-arrow) {
    stroke-width: 2px;
    stroke: gray;
    stroke-dasharray: 30px;
    stroke-dashoffset: -54px;
  }
  &:global(-overlay) {
    background: rgba(0, 0, 0, 0.5);
    &[data-popup='tooltip'] {
      background: transparent;
    }
  }
}
