@import '../../styles/default-colors';

.sierra-webui {
  @include default-color();
  svg {
    vertical-align: middle;
  }
}

section.section {
  width: 100%;
  padding-top: 2rem;
  > section:first-child {
    margin-top: 0;
    > h2 {
      margin-top: 0;
    }
  }
}

.print-btn {
  padding-left: .8rem;
  padding-right: .8rem;
  margin-left: .8rem;
  margin-right: .8rem;
  @media print {
    display: none;
  }
}
