// modified from: https://loading.io/css/

$size: 1em;
$color: #a0a0a0;

.lds-ring_fixed {
  font-size: 2.5rem;
  position: absolute;
  z-index: 5000;
  bottom: calc(50vh - #{$size / 8 * 5});
  left: calc(50vw - #{$size / 8 * 5});
  display: inline-block;
  width: $size / 8 * 10;
  height: $size / 8 * 10;
}
.lds-ring_fixed div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: $size;
  height: $size;
  margin: $size / 6;
  border: $size / 6 solid $color;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $color transparent transparent transparent;
}
.lds-ring_fixed div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring_fixed div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring_fixed div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
