@import "../../styles/colors";
@import "../../styles/functions";
@import "../../styles/extension";

ul.sir-pcnt-bar {
  --bar-width: 30rem;
  //--small-window-bar-width: 15rem;
  //--small-widnow-min-display-pcnt: 0.12;
  --min-display-pcnt: 0.06;
  /*@media (max-width: 1024px) {
    --bar-width: var(--small-window-bar-width);
    --min-display-pcnt: var(--small-window-min-display-pcnt);
  }*/
  --bar-height: 1.5rem;
  --pcnt-width: 2.1rem;
  -webkit-print-color-adjust: exact;
  padding: 0;
  margin: 0;
  height: var(--bar-height);
  width: var(--bar-width);
  list-style-type: none;
  box-sizing: content-box;
  white-space: nowrap;
  border: 1px solid black;
  > li {
    @extend %levels-style;
    height: var(--bar-height);
    line-height: var(--bar-height);
    position: relative;
    width: calc(var(--level-pcnt) * var(--bar-width));
    overflow: hidden;
    > .sir-pcnt {
      --available-pcnt: (var(--level-pcnt) - var(--min-display-pcnt));
      width: calc(max(0, var(--available-pcnt)) / var(--available-pcnt) * var(--pcnt-width));
      display: inline-block;
      overflow: hidden;
    }
    &:not([data-pcnt="0"]) + li::before {
      content: "";
      display: block;
      position: absolute;
      height: var(--bar-height);
      right: left;
      top: 0;
      border-left: 1px solid black;
    }
  }
}
