@import "../../styles";

$item-size: 2.5em;
$display-nums: var(--display-nums);
$offset: var(--offset);
$total: var(--total);
$scroll-offset: var(--scroll-offset);
$hover-offset: var(--hover-offset);
$margin-left-main: var(--margin-left-main);

$item-outer-size: #{$item-size} * 2;
$hover-opacity: .9;
$client-width: var(--display-nums) * #{$item-outer-size};
$scrollbar-step-width: #{$client-width} / #{$total};
$scrollbar-offset: #{$scrollbar-step-width} * #{$scroll-offset};
$scrollbar-width: css-max(
  3em,
  calc(
    #{$scrollbar-step-width} *
    #{$display-nums}
  )
);
$desc-width: #{$item-size} * 9;
$desc-margin-left-main: css-min(
  css-calc(
    #{$item-size} - #{$desc-width} / 2 +
    #{$item-outer-size} *
    #{$offset}
  ),
  css-calc(
    100% -
    #{$desc-width}
  )
);
$desc-margin-left: css-calc(
  #{$item-size} *
  #{$hover-offset} #{"+"}
  css-max(
    0px, #{$desc-margin-left-main}
  )
);

.paginator-container {
  position: relative;
  width: calc(#{$item-outer-size} * 2 + #{$client-width});
  padding-left: calc(#{$item-outer-size});
  padding-right: calc(#{$item-outer-size});
  box-sizing: border-box;
  margin-left: auto;
  margin-right: 0;
}

@mixin paginator-item {
  display: block;
  width: calc(#{$item-size});
  height: calc(#{$item-size});
  box-sizing: border-box;
  text-align: center;
  line-height: calc(#{$item-size});
  vertical-align: middle;
  transition: width 200ms ease-in-out, height 200ms ease-in-out, line-height 200ms ease-in-out;
}

.paginator-container > .paginator-arrow {
  position: absolute;
  top: calc(#{$item-size} - .3em);
  padding-left: calc(#{$item-size} / 2);
  padding-right: calc(#{$item-size} / 2);
  padding-bottom: 0;
  > .paginator-arrow_desc, &::after {
    @include paginator-item;
  }

  &::after {
    position: absolute;
    top: 0;
    color: color(paginator-text);
    left: calc(#{$item-size} / 2);
  }
  
  > .paginator-arrow_desc {
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
  }

  &:hover > .paginator-arrow_desc {
    opacity: $hover-opacity;
    background-color: color(paginator-text-hover-bg);
  }

  &[data-direction="-1"] {
    left: 0;
    &::after {
      content: "«";
    }
  }

  &[data-direction="1"] {
    right: 0;
    &::after {
      content: "»";
    }
  }
}

.paginator-container > .paginator-scrollable-list {
  display: inline-block;
  overflow: hidden;
  width: calc(#{$client-width});
  > .paginator-list {
    counter-reset: paginator;
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    transform: translateX(calc(#{$scroll-offset} * -#{$item-outer-size}));
    transition: transform 200ms ease-in-out;
  }
}

.paginator-list > .paginator-item {

  display: inline-block;
  list-style-type: none;
  
  > .paginator-item_link {
    display: block;
    position: relative;
    text-decoration: none;
    padding-left: calc(#{$item-size} / 2);
    padding-right: calc(#{$item-size} / 2);
    padding-bottom: 0;
  
    > .paginator-item_desc, &::after {
      @include paginator-item;
    }

    &::after {
      color: color(paginator-text);
      position: absolute;
      top: 0;
      left: calc(#{$item-size} / 2);
      counter-increment: paginator;
      content: counter(paginator)"\a0";
    }
  
    > .paginator-item_desc {
      text-indent: 200%;
      white-space: nowrap;
      overflow: hidden;
    }
  
  }

  &[data-is-hovering="true"] > .paginator-item_link {
    > .paginator-item_desc {
      opacity: $hover-opacity;
      background-color: color(paginator-text-hover-bg);
    }
    &::after {
      color: color(paginator-text-hover);
    }
  }

  &[data-is-selected="true"] > .paginator-item_link {
    > .paginator-item_desc {
      background-color: color(paginator-text-current-bg);
    }
    &::after {
      color: color(paginator-text-current);
    }
  }

  &[data-is-hovering="true"][data-is-selected="true"] > .paginator-item_link {
    > .paginator-item_desc {
      opacity: 1;
      background-color: color(paginator-text-current-hover-bg);
    }
    ::after {
      color: color(paginator-text-current);
    }
  }
  
}

.paginator-container > .paginator-desc {
  position: relative;
  margin-left: $desc-margin-left;
  margin-bottom: -.5em;
  display: inline-block;
  box-sizing: border-box;
  line-height: $item-size;
  height: $item-size;
  max-width: calc(#{$desc-width});
  padding-left: calc(#{$item-size} / 3);
  padding-right: calc(#{$item-size} / 3);
  color: color(paginator-text-current);
  transition: all 200ms ease-in-out;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    transition: background-color 200ms ease-in-out;
    background-color: color(paginator-text-current-bg);
    z-index: -1;
  }

  &[data-is-hovering="true"] {
    &::before {
      opacity: $hover-opacity;
      background-color: color(paginator-text-hover-bg);
    }
    color: color(paginator-text-hover);
    &[data-is-hovering-selected="true"] {
      &::before {
        opacity: 1;
        background-color: color(paginator-text-current-hover-bg);
      }
      color: color(paginator-text-current);
    }
  }
}

.paginator-container > .scrollbar-container {
  margin-top: calc(- #{$item-size} / 3);
  position: relative;
  z-index: 1;
  cursor: pointer;
  height: 1.25em;
  overflow: hidden;
  &::before {
    position: absolute;
    content: '';
    display: block;
    top: .5em;
    left: 0;
    right: 0;
    bottom: .5em;
    background-color: color(paginator-scrollbar);
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }
  &:hover::before {
    opacity: .1;
  }
  > .scrollbar {
    margin-left: calc(#{$scrollbar-offset});
    cursor: pointer;
    display: inline-block;
    &::before {
      display: block;
      content: '';
      margin-top: .5em;
      margin-bottom: 1em;
      width: $scrollbar-width;
      height: .25em;
      opacity: .4;
      background-color: color(paginator-scrollbar);
      transition: opacity 200ms ease-in-out;
    }
    &:hover::before {
      opacity: .7;
    }
  }
  > .scrollbar-drag-shadow {
    opacity: 0;
    width: 1em;
    height: 1em;
    position: absolute;
    top: 0;
    left: 0;
  }
  > .scrollbar-step {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(#{$scrollbar-step-width});
    height: 0;
  }
}

.paginator-container > .paginator-footnote {
  color: color(paginator-footnote-text);
  opacity: .7;
  font-size: .85em;
}
