@import "../../styles";

$chkbox-size: 1.28em;
$chkbox-border-width: 1px;

$tick-polygon: polygon(42.5% 55%, 72.5% 25%, 82.5% 35%, 42.5% 75%, 17.5% 50%, 27.5% 40%);

.general-checkbox-input {

  margin-right: 2em;

  &:focus {
    outline: none;
    label::before {
      outline: 1px auto -webkit-focus-ring-color;
    }
  }

  &.use-polygon {
    label::after {
      color: transparent;
      background-color: color(chkbox-on);
    }
    input:disabled + label::after {
      color: transparent;
      background-color: color(chkbox-disabled);
    }
  }

  label {
    display: inline-grid;
    grid-template-columns: $chkbox-size 1fr;
    grid-column-gap: .4em;
    align-items: center;
    margin-top: .5em;
    margin-bottom: .5em;
    cursor: pointer;
    &::before, &::after {
      grid-column: 1;
      grid-row: 1;
      box-sizing: border-box;
      width: $chkbox-size;
      height: $chkbox-size;
    }
    &::before {
      content: "\a0";  // use &nbsp; to enable line-height
      background-color: color(chkbox-off-bg);
      border: $chkbox-border-width solid color(chkbox-border);
    }
    &::after {
      content: "✓";
      opacity: 0;
      font-size: 1em;
      text-align: center;
      clip-path: $tick-polygon;
      -webkit-clip-path: $tick-polygon;
      transition: opacity 0.15s ease;
      color: color(chkbox-on);
    }
  }

  input {
    display: none;
    &:checked + label::after {
      opacity: 1;
    }
    &:disabled {
      + label {
        cursor: not-allowed;
        &::after {
          color: color(chkbox-disabled);
        }
      }
    }
  }
}
