@import "../../styles";

$chkbox-size: 1.28em;
$chkbox-border-width: 1px;

$tick-polygon: polygon(42.5% 55%, 72.5% 25%, 82.5% 35%, 42.5% 75%, 17.5% 50%, 27.5% 40%);

.general-checkbox-input {

  &:focus {
    outline: none;
    label::before {
      outline: 1px auto -webkit-focus-ring-color;
    }
  }

  &.use-polygon {
    label::after {
      color: transparent;
      background-color: color(chkbox-on);
    }
    input:disabled + label::after {
      color: transparent;
      background-color: color(chkbox-disabled);
    }
  }

  label {
    position: relative;
    display: inline-block;
    &:not(:last-child) {
      margin-right: 2em;
    }
    cursor: pointer;
    &::before, &::after {
      box-sizing: border-box;
      display: inline-block;
      width: $chkbox-size;
      height: $chkbox-size;
    }
    &::before {
      content: "\a0";  // use &nbsp; to enable line-height
      margin-right: .4em;
      line-height: calc(#{$chkbox-size} - 2 * #{$chkbox-border-width});
      background-color: color(chkbox-off-bg);
      border: $chkbox-border-width solid color(chkbox-border);
    }
    &::after {
      left: 0;
      top: 0;
      content: "✓";
      opacity: 0;
      font-size: 1em;
      text-align: center;
      position: absolute;
      clip-path: $tick-polygon;
      -webkit-clip-path: $tick-polygon;
      transition: opacity 0.15s ease;
      color: color(chkbox-on);
    }
  }

  input {
    display: none;
    &:checked + label::after {
      opacity: 1;
    }
    &:disabled {
      + label {
        cursor: not-allowed;
        &::after {
          color: color(chkbox-disabled);
        }
      }
    }
  }
}
